stewardBank_CSV.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element ibmSchExtn:docRoot="true" name="stewardBank_CSV">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="value1" minOccurs="0" name="Tran_ID" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" minOccurs="0" name="Date" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" minOccurs="0" name="Remitter_Account_Number" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value4" minOccurs="0" name="Beneficiary_Bank_Name" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value5" minOccurs="0" name="Beneficiary_Bank_Code" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value6" minOccurs="0" name="Beneficiary_Account_Number" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value7" minOccurs="0" name="Beneficiary_Name" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value8" minOccurs="0" name="Amount" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value9" minOccurs="0" name="Currency" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value10" minOccurs="0" name="Purpose" type="xsd:string"/>
                                                    <xsd:element ibmDfdlExtn:sampleValue="value11" minOccurs="0" name="Remitter_Name" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>